body {
  margin: 0;
  font-family: sans-serif;
}
.w-100{
  width: 100%;
}
.w-90{
  width: 90%;
}
.w-85{
  width: 85%;
}
.w-50{
  width: 50%;
}
.w-60{
  width: 56%;
}
.w-33{
  width: 33.33%;
}
.m-auto{
  margin: auto;
}
.flex{
  display: flex;
  align-items: center;
}
.justify-b{
  justify-content: space-between;
}
.fs-14{
  font-size: 14px;
}
.fs-16{
  font-size: 16px;
}
.fs-20{
  font-size: 20px;
}
.fs-40{
  font-size: 40px;
}
.fw-400{
  font-weight: 400;
}
.fw-700{
  font-weight: 700;
}
.c-gap-1{
  column-gap: 1rem;
}
